@charset "UTF-8";
header {
  background-color: #388bff;
  width: 100%;
  position: fixed;
}
.header-inner {
  width: 1100px;
  display: flex;
  justify-content: space-between;/*主軸方向に均等に配置。*/
  margin: 0 auto;
}
ul {
  display: flex;
  list-style: none;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
}
.logo a {
  text-decoration: none;
  color: #f2ff7b;
}
li a {
  text-decoration: none;
  color: #fff;
}
li {
  padding: 30px;
}